@import play.api._

@(env: Environment)

<!doctype html>
<html>
    <meta charset="utf-8">
    <base href="/">
    <title>Play + Angulate2</title>

    <link rel="stylesheet" href="/assets/styles.css" />

    <script src="/assets/deps/node_modules/core-js/client/shim.min.js"></script>
    <script src="/assets/deps/node_modules/zone.js/dist/zone.js"></script>
    <script src="/assets/deps/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/assets/deps/node_modules/rxjs/bundles/Rx.umd.js"></script>
    <script src="/assets/packages-dist/core/bundles/core.umd.js"></script>
    <script src="/assets/packages-dist/common/bundles/common.umd.js"></script>
    <script src="/assets/packages-dist/compiler/bundles/compiler.umd.js"></script>
    <script src="/assets/packages-dist/platform-browser/bundles/platform-browser.umd.js"></script>
    <script src="/assets/packages-dist/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script>
    <script src="/assets/packages-dist/router/bundles/router.umd.js"></script>
    <script src="/assets/packages-dist/router-deprecated/bundles/router-deprecated.umd.js"></script>
    <script src="/assets/packages-dist/http/bundles/http.umd.js"></script>


    @if(env.mode == Mode.Prod) {
        <script src="@routes.Assets.versioned("ngclient-opt.js")"></script>
    } else {
        <script src="@routes.Assets.versioned("ngclient-fastopt.js")"></script>
    }

    <script src="@routes.Assets.versioned("ngclient-jsdeps.js")"></script>
    <script src="@routes.Assets.versioned("ngclient-sjsx.js")"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            ng.platformBrowserDynamic.bootstrap(com.lucidchart.AppComponent, [
                ng.http.HTTP_PROVIDERS,
                com.lucidchart.Routes().APP_ROUTER_PROVIDERS
            ]);
        });
    </script>

    <body>
        <my-app></my-app>
    </body>
</html>
